/*FUENTES*/
@font-face{
	font-family: 'Lato-Black';
	src: url("../fonts/Lato-Black.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Bold';
	src: url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Italic';
	src: url("../fonts/Lato-Italic.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Light';
	src: url("../fonts/Lato-Light.ttf") format("truetype");
	font-weight:normal;
}
@font-face{
	font-family: 'Lato-Regular';
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight:normal;
}

/*MAX WIDTH PANTALLA*/
@media (min-width: 1510px){
	.container{
		width:1480px;
	}
}

h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Lato-Regular', sans-serif;
	font-size: 12pt;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/*Background body*/
.seccion_01_web {
	position:relative;
	background-image:url(../images/background-seccion-01-web.png);
	background-size:1920px 1080px;
	height:1008px;
	background-position: center;
	background-repeat: no-repeat;
  overflow: hidden;
}
.seccion_01_xs {
	position:relative;
	background-image:url(../images/background-seccion-01-web.png);
	background-size:1920px 1080px;
	height:800px;
	background-position: center;
	background-repeat: no-repeat;
  overflow: hidden;
}
.iv_alianza_web{
	position:absolute;
	top:25px;
	right:-180px;
}
@media screen and (max-width: 1830px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-120px;
	}
}
@media screen and (max-width: 1730px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-70px;
	}
}
@media screen and (max-width: 1630px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-20px;
	}
}
@media screen and (max-width: 1530px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:30px;
	}
}
@media screen and (max-width: 1509px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-130px;
	}
}
@media screen and (max-width: 1430px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-80px;
	}
}
@media screen and (max-width: 1330px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:-30px;
	}
}
@media screen and (max-width: 1230px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:0px;
	}
}
@media screen and (max-width: 1199px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:0px;
	}
}
#stars {
	z-index: -1;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1354px 12633px #0094E0 , 587px 1769px #0094E0 , 1710px 645px #0094E0 , 1998px 47px #0094E0 , 749px 1290px #0094E0 , 6px 1274px #0094E0 , 573px 1817px #0094E0 , 25px 1400px #0094E0 , 1080px 1491px #0094E0 , 1134px 186px #0094E0 , 59px 966px #0094E0 , 875px 1668px #0094E0 , 1494px 1149px #0094E0 , 411px 1617px #0094E0 , 1450px 1321px #0094E0 , 1557px 1687px #0094E0 , 1983px 737px #0094E0 , 1349px 47px #0094E0 , 372px 1538px #0094E0 , 1424px 781px #0094E0 , 1008px 1472px #0094E0 , 18px 1006px #0094E0 , 1030px 942px #0094E0 , 1342px 1216px #0094E0 , 1861px 1503px #0094E0 , 446px 1462px #0094E0 , 66px 662px #0094E0 , 1992px 1923px #0094E0 , 1224px 1341px #0094E0 , 174px 452px #0094E0 , 1173px 1966px #0094E0 , 311px 708px #0094E0 , 624px 1125px #0094E0 , 1272px 1502px #0094E0 , 557px 238px #0094E0 , 523px 613px #0094E0 , 365px 74px #0094E0 , 997px 678px #0094E0 , 1179px 91px #0094E0 , 1126px 1042px #0094E0 , 1627px 30px #0094E0 , 1894px 614px #0094E0 , 738px 539px #0094E0 , 1206px 1696px #0094E0 , 241px 204px #0094E0 , 1587px 1028px #0094E0 , 1902px 1942px #0094E0 , 665px 1383px #0094E0 , 746px 109px #0094E0 , 940px 1183px #0094E0 , 572px 773px #0094E0 , 792px 980px #0094E0 , 1866px 1986px #0094E0 , 479px 1976px #0094E0 , 477px 1413px #0094E0 , 1149px 74px #0094E0 , 388px 275px #0094E0 , 31px 438px #0094E0 , 113px 407px #0094E0 , 1828px 1079px #0094E0 , 337px 360px #0094E0 , 879px 413px #0094E0 , 84px 1576px #0094E0 , 51px 815px #0094E0 , 342px 512px #0094E0 , 1770px 1815px #0094E0 , 1003px 921px #0094E0 , 551px 1854px #0094E0 , 507px 1653px #0094E0 , 1849px 576px #0094E0 , 443px 1377px #0094E0 , 1538px 1925px #0094E0 , 833px 929px #0094E0 , 420px 357px #0094E0 , 400px 1223px #0094E0 , 769px 52px #0094E0 , 1038px 1103px #0094E0 , 1877px 28px #0094E0 , 722px 1908px #0094E0 , 1160px 1348px #0094E0 , 795px 921px #0094E0 , 1836px 192px #0094E0 , 637px 1007px #0094E0 , 1297px 1356px #0094E0 , 20px 759px #0094E0 , 1996px 1735px #0094E0 , 1232px 172px #0094E0 , 1283px 1970px #0094E0 , 1403px 540px #0094E0 , 222px 1147px #0094E0 , 1394px 850px #0094E0 , 1700px 179px #0094E0 , 1211px 1832px #0094E0 , 452px 201px #0094E0 , 1493px 1199px #0094E0 , 867px 1613px #0094E0 , 240px 337px #0094E0 , 1243px 1437px #0094E0 , 1444px 1693px #0094E0 , 11px 1953px #0094E0 , 1894px 1612px #0094E0 , 1882px 1px #0094E0 , 304px 503px #0094E0 , 1675px 12px #0094E0 , 294px 1628px #0094E0 , 1726px 1322px #0094E0 , 1602px 1017px #0094E0 , 285px 872px #0094E0 , 320px 1094px #0094E0 , 367px 1208px #0094E0 , 1848px 1002px #0094E0 , 554px 354px #0094E0 , 1245px 1581px #0094E0 , 1799px 1421px #0094E0 , 1613px 1699px #0094E0 , 1174px 1796px #0094E0 , 1415px 103px #0094E0 , 1077px 161px #0094E0 , 1544px 1785px #0094E0 , 269px 1122px #0094E0 , 381px 554px #0094E0 , 741px 355px #0094E0 , 1843px 660px #0094E0 , 1776px 1753px #0094E0 , 567px 1067px #0094E0 , 1078px 1709px #0094E0 , 370px 902px #0094E0 , 1733px 950px #0094E0 , 597px 1508px #0094E0 , 1497px 151px #0094E0 , 392px 162px #0094E0 , 51px 85px #0094E0 , 1908px 1882px #0094E0 , 361px 902px #0094E0 , 298px 950px #0094E0 , 63px 620px #0094E0 , 608px 405px #0094E0 , 459px 1368px #0094E0 , 1956px 1339px #0094E0 , 1025px 467px #0094E0 , 1485px 1026px #0094E0 , 1929px 429px #0094E0 , 1608px 627px #0094E0 , 1663px 336px #0094E0 , 951px 211px #0094E0 , 1236px 783px #0094E0 , 1010px 1474px #0094E0 , 1003px 679px #0094E0 , 1357px 1554px #0094E0 , 128px 900px #0094E0 , 753px 1581px #0094E0 , 533px 1298px #0094E0 , 99px 1951px #0094E0 , 198px 1332px #0094E0 , 1233px 1945px #0094E0 , 1326px 1004px #0094E0 , 830px 513px #0094E0 , 452px 778px #0094E0 , 728px 1470px #0094E0 , 369px 1413px #0094E0 , 1274px 434px #0094E0 , 1361px 115px #0094E0 , 1183px 1382px #0094E0 , 1995px 746px #0094E0 , 903px 990px #0094E0 , 116px 1907px #0094E0 , 556px 1738px #0094E0 , 423px 21px #0094E0 , 1065px 925px #0094E0 , 1544px 719px #0094E0 , 271px 1351px #0094E0 , 1778px 1654px #0094E0 , 965px 18px #0094E0 , 1110px 903px #0094E0 , 1665px 1972px #0094E0 , 1043px 1502px #0094E0 , 1330px 1544px #0094E0 , 1464px 1580px #0094E0 , 164px 1923px #0094E0 , 1177px 323px #0094E0 , 447px 1379px #0094E0 , 819px 1650px #0094E0 , 1780px 956px #0094E0 , 1046px 1587px #0094E0 , 552px 797px #0094E0 , 981px 1271px #0094E0 , 856px 1726px #0094E0 , 1911px 1079px #0094E0 , 486px 1793px #0094E0 , 205px 1084px #0094E0 , 130px 324px #0094E0 , 668px 57px #0094E0 , 1636px 1272px #0094E0 , 971px 1942px #0094E0 , 1337px 56px #0094E0 , 103px 1599px #0094E0 , 1911px 1294px #0094E0 , 1376px 1051px #0094E0 , 1210px 1591px #0094E0 , 848px 623px #0094E0 , 418px 1649px #0094E0 , 57px 1918px #0094E0 , 363px 1127px #0094E0 , 1727px 38px #0094E0 , 304px 581px #0094E0 , 1570px 51px #0094E0 , 950px 597px #0094E0 , 387px 1378px #0094E0 , 1964px 90px #0094E0 , 1534px 258px #0094E0 , 953px 1978px #0094E0 , 466px 1825px #0094E0 , 1327px 322px #0094E0 , 639px 1418px #0094E0 , 1439px 1646px #0094E0 , 284px 944px #0094E0 , 538px 1532px #0094E0 , 750px 910px #0094E0 , 1938px 1069px #0094E0 , 685px 848px #0094E0 , 639px 1487px #0094E0 , 769px 1121px #0094E0 , 786px 1221px #0094E0 , 1765px 1444px #0094E0 , 1952px 418px #0094E0 , 1286px 262px #0094E0 , 1515px 42px #0094E0 , 1799px 780px #0094E0 , 516px 1454px #0094E0 , 31px 1868px #0094E0 , 447px 835px #0094E0 , 1810px 128px #0094E0 , 1911px 2px #0094E0 , 285px 177px #0094E0 , 679px 511px #0094E0 , 514px 1379px #0094E0 , 434px 739px #0094E0 , 1324px 1590px #0094E0 , 1609px 727px #0094E0 , 1003px 1973px #0094E0 , 1513px 608px #0094E0 , 381px 875px #0094E0 , 956px 903px #0094E0 , 1868px 800px #0094E0 , 1628px 313px #0094E0 , 227px 583px #0094E0 , 1841px 30px #0094E0 , 1086px 1531px #0094E0 , 678px 1652px #0094E0 , 1514px 1388px #0094E0 , 253px 1438px #0094E0 , 1906px 1735px #0094E0 , 38px 1062px #0094E0 , 336px 1737px #0094E0 , 1180px 286px #0094E0 , 1662px 1496px #0094E0 , 1237px 530px #0094E0 , 1304px 1593px #0094E0 , 133px 1497px #0094E0 , 1289px 1276px #0094E0 , 3px 734px #0094E0 , 1820px 87px #0094E0 , 586px 384px #0094E0 , 596px 915px #0094E0 , 243px 968px #0094E0 , 665px 791px #0094E0 , 611px 1962px #0094E0 , 1550px 1587px #0094E0 , 595px 812px #0094E0 , 1930px 1270px #0094E0 , 398px 1999px #0094E0 , 1088px 374px #0094E0 , 1168px 1833px #0094E0 , 663px 1432px #0094E0 , 1130px 142px #0094E0 , 1356px 514px #0094E0 , 1167px 297px #0094E0 , 1291px 79px #0094E0 , 1749px 711px #0094E0 , 145px 1147px #0094E0 , 1726px 1837px #0094E0 , 1856px 679px #0094E0 , 253px 476px #0094E0 , 1101px 1519px #0094E0 , 1499px 542px #0094E0 , 529px 953px #0094E0 , 343px 913px #0094E0 , 1508px 1375px #0094E0 , 1446px 1023px #0094E0 , 255px 1967px #0094E0 , 1338px 1724px #0094E0 , 853px 1127px #0094E0 , 1891px 311px #0094E0 , 229px 1216px #0094E0 , 1531px 437px #0094E0 , 1993px 1723px #0094E0 , 661px 1795px #0094E0 , 1382px 414px #0094E0 , 355px 1362px #0094E0 , 1397px 296px #0094E0 , 208px 522px #0094E0 , 560px 1091px #0094E0 , 1311px 845px #0094E0 , 124px 835px #0094E0 , 1289px 1840px #0094E0 , 592px 845px #0094E0 , 512px 1466px #0094E0 , 838px 460px #0094E0 , 626px 699px #0094E0 , 204px 263px #0094E0 , 763px 1523px #0094E0 , 905px 1832px #0094E0 , 1298px 1976px #0094E0 , 566px 894px #0094E0 , 691px 886px #0094E0 , 623px 1757px #0094E0 , 1849px 1618px #0094E0 , 1195px 388px #0094E0 , 981px 1663px #0094E0 , 505px 157px #0094E0 , 96px 790px #0094E0 , 1566px 1443px #0094E0 , 1715px 1456px #0094E0 , 1146px 1145px #0094E0 , 847px 1333px #0094E0 , 1607px 79px #0094E0 , 428px 923px #0094E0 , 1120px 1619px #0094E0 , 929px 1854px #0094E0 , 74px 619px #0094E0 , 1725px 1164px #0094E0 , 41px 354px #0094E0 , 380px 1833px #0094E0 , 708px 112px #0094E0 , 272px 1380px #0094E0 , 74px 596px #0094E0 , 435px 539px #0094E0 , 832px 1773px #0094E0 , 1007px 1446px #0094E0 , 1952px 1830px #0094E0 , 1169px 21px #0094E0 , 666px 1076px #0094E0 , 1593px 1900px #0094E0 , 1020px 1309px #0094E0 , 103px 273px #0094E0 , 262px 1765px #0094E0 , 647px 1475px #0094E0 , 664px 756px #0094E0 , 751px 1799px #0094E0 , 1173px 956px #0094E0 , 1926px 1738px #0094E0 , 806px 902px #0094E0 , 832px 1102px #0094E0 , 166px 581px #0094E0 , 780px 862px #0094E0 , 1125px 1451px #0094E0 , 1385px 1119px #0094E0 , 1788px 236px #0094E0 , 276px 1714px #0094E0 , 476px 1621px #0094E0 , 1459px 1826px #0094E0 , 850px 1551px #0094E0 , 515px 975px #0094E0 , 675px 15px #0094E0 , 586px 1749px #0094E0 , 593px 997px #0094E0 , 484px 1285px #0094E0 , 1146px 1693px #0094E0 , 1458px 754px #0094E0 , 1168px 1701px #0094E0 , 1560px 912px #0094E0 , 1189px 1808px #0094E0 , 1626px 1725px #0094E0 , 1024px 678px #0094E0 , 1043px 473px #0094E0 , 1731px 337px #0094E0 , 672px 292px #0094E0 , 1308px 533px #0094E0 , 1871px 1893px #0094E0 , 1274px 163px #0094E0 , 1067px 1201px #0094E0 , 322px 1396px #0094E0 , 1542px 1759px #0094E0 , 1425px 1445px #0094E0 , 973px 214px #0094E0 , 1930px 591px #0094E0 , 467px 1264px #0094E0 , 437px 1296px #0094E0 , 1881px 221px #0094E0 , 590px 1161px #0094E0 , 1355px 1324px #0094E0 , 785px 1828px #0094E0 , 1504px 985px #0094E0 , 595px 1911px #0094E0 , 1115px 37px #0094E0 , 1754px 138px #0094E0 , 1984px 986px #0094E0 , 122px 1762px #0094E0 , 977px 995px #0094E0 , 884px 1914px #0094E0 , 771px 1977px #0094E0 , 1188px 307px #0094E0 , 1259px 834px #0094E0 , 1718px 1719px #0094E0 , 1222px 954px #0094E0 , 700px 1026px #0094E0 , 1400px 1125px #0094E0 , 935px 204px #0094E0 , 1510px 548px #0094E0 , 1185px 1674px #0094E0 , 43px 874px #0094E0 , 495px 1365px #0094E0 , 258px 1251px #0094E0 , 217px 1638px #0094E0 , 717px 22px #0094E0 , 306px 1645px #0094E0 , 1041px 476px #0094E0 , 1175px 717px #0094E0 , 938px 1547px #0094E0 , 1724px 1175px #0094E0 , 1387px 1226px #0094E0 , 1886px 1357px #0094E0 , 1722px 1022px #0094E0 , 716px 611px #0094E0 , 755px 1722px #0094E0 , 1722px 1930px #0094E0 , 1938px 94px #0094E0 , 267px 665px #0094E0 , 1216px 1467px #0094E0 , 118px 196px #0094E0 , 697px 1123px #0094E0 , 1888px 1140px #0094E0 , 84px 717px #0094E0 , 137px 1839px #0094E0 , 1635px 1670px #0094E0 , 1829px 1187px #0094E0 , 1827px 1249px #0094E0 , 1935px 744px #0094E0 , 1667px 1278px #0094E0 , 644px 553px #0094E0 , 640px 1664px #0094E0 , 634px 109px #0094E0 , 971px 1924px #0094E0 , 102px 921px #0094E0 , 728px 1782px #0094E0 , 1729px 299px #0094E0 , 330px 703px #0094E0 , 638px 1478px #0094E0 , 1011px 1532px #0094E0 , 910px 1489px #0094E0 , 1693px 47px #0094E0 , 404px 569px #0094E0 , 399px 859px #0094E0 , 1013px 322px #0094E0 , 1778px 412px #0094E0 , 1760px 1347px #0094E0 , 1000px 1749px #0094E0 , 1362px 1259px #0094E0 , 1913px 1950px #0094E0 , 1260px 282px #0094E0 , 95px 73px #0094E0 , 1234px 778px #0094E0 , 1947px 1240px #0094E0 , 1874px 1568px #0094E0 , 1218px 535px #0094E0 , 193px 333px #0094E0 , 580px 59px #0094E0 , 118px 1449px #0094E0 , 1511px 1699px #0094E0 , 901px 1182px #0094E0 , 871px 513px #0094E0 , 687px 1661px #0094E0 , 1510px 1651px #0094E0 , 1752px 971px #0094E0 , 67px 1000px #0094E0 , 76px 889px #0094E0 , 670px 1155px #0094E0 , 1063px 512px #0094E0 , 1860px 646px #0094E0 , 1962px 1644px #0094E0 , 1731px 484px #0094E0 , 1627px 578px #0094E0 , 260px 1164px #0094E0 , 390px 107px #0094E0 , 638px 1705px #0094E0 , 563px 1746px #0094E0 , 891px 1329px #0094E0 , 1612px 426px #0094E0 , 1619px 741px #0094E0 , 1651px 125px #0094E0 , 695px 675px #0094E0 , 470px 1483px #0094E0 , 498px 575px #0094E0 , 1587px 1694px #0094E0 , 573px 1792px #0094E0 , 80px 1834px #0094E0 , 909px 614px #0094E0 , 1701px 1115px #0094E0 , 332px 1272px #0094E0 , 1958px 1651px #0094E0 , 482px 1346px #0094E0 , 1654px 595px #0094E0 , 563px 830px #0094E0 , 606px 1192px #0094E0 , 1423px 1693px #0094E0 , 617px 1854px #0094E0 , 1633px 434px #0094E0 , 1621px 272px #0094E0 , 486px 808px #0094E0 , 838px 1146px #0094E0 , 1056px 64px #0094E0 , 315px 521px #0094E0 , 934px 1128px #0094E0 , 97px 26px #0094E0 , 717px 1458px #0094E0 , 656px 1082px #0094E0 , 190px 280px #0094E0 , 235px 1778px #0094E0 , 1842px 121px #0094E0 , 533px 1534px #0094E0 , 302px 851px #0094E0 , 1579px 956px #0094E0 , 1150px 621px #0094E0 , 1683px 1248px #0094E0 , 1726px 1035px #0094E0 , 670px 683px #0094E0 , 207px 573px #0094E0 , 399px 16px #0094E0 , 1188px 1150px #0094E0 , 312px 737px #0094E0 , 353px 541px #0094E0 , 533px 399px #0094E0 , 386px 777px #0094E0 , 52px 1973px #0094E0 , 1462px 1726px #0094E0 , 1755px 222px #0094E0 , 1485px 1233px #0094E0 , 452px 677px #0094E0 , 212px 1995px #0094E0 , 973px 1720px #0094E0 , 16px 1141px #0094E0 , 455px 1821px #0094E0 , 1274px 992px #0094E0 , 1629px 1050px #0094E0 , 184px 1837px #0094E0 , 603px 56px #0094E0 , 998px 961px #0094E0 , 43px 1042px #0094E0 , 807px 1989px #0094E0 , 984px 165px #0094E0 , 23px 1753px #0094E0 , 969px 154px #0094E0 , 212px 1471px #0094E0 , 1448px 1413px #0094E0 , 1006px 343px #0094E0 , 153px 59px #0094E0 , 952px 124px #0094E0 , 1317px 1302px #0094E0 , 888px 1179px #0094E0 , 27px 1038px #0094E0 , 1824px 1291px #0094E0 , 1114px 833px #0094E0 , 537px 635px #0094E0 , 457px 441px #0094E0 , 293px 1888px #0094E0 , 445px 1514px #0094E0 , 1701px 1961px #0094E0 , 1994px 1907px #0094E0 , 1111px 1353px #0094E0 , 1888px 1820px #0094E0 , 651px 1434px #0094E0 , 1551px 1215px #0094E0 , 1047px 1030px #0094E0 , 893px 13px #0094E0 , 243px 1288px #0094E0 , 755px 1512px #0094E0 , 1726px 1502px #0094E0 , 1250px 1821px #0094E0 , 640px 372px #0094E0 , 504px 1464px #0094E0 , 651px 1916px #0094E0 , 741px 1885px #0094E0 , 1535px 1253px #0094E0 , 677px 874px #0094E0 , 1603px 1673px #0094E0 , 1153px 108px #0094E0 , 506px 913px #0094E0 , 421px 1212px #0094E0 , 1887px 656px #0094E0 , 1009px 1616px #0094E0 , 1740px 1457px #0094E0 , 1524px 168px #0094E0 , 1296px 1381px #0094E0 , 84px 340px #0094E0 , 1093px 464px #0094E0 , 598px 1141px #0094E0 , 1004px 941px #0094E0 , 1895px 1588px #0094E0 , 936px 975px #0094E0 , 1041px 387px #0094E0 , 1712px 1662px #0094E0 , 793px 570px #0094E0 , 1227px 1348px #0094E0 , 111px 739px #0094E0 , 1701px 269px #0094E0 , 1138px 1926px #0094E0 , 990px 102px #0094E0 , 594px 1652px #0094E0 , 926px 1970px #0094E0 , 206px 1615px #0094E0 , 737px 1634px #0094E0 , 1703px 48px #0094E0 , 403px 1329px #0094E0 , 160px 676px #0094E0 , 1143px 1745px #0094E0 , 498px 1852px #0094E0 , 1380px 960px #0094E0 , 1815px 497px #0094E0 , 1921px 2000px #0094E0 , 670px 324px #0094E0 , 42px 1068px #0094E0 , 726px 231px #0094E0 , 1360px 1166px #0094E0 , 1613px 1914px #0094E0 , 882px 919px #0094E0 , 213px 1875px #0094E0 , 1053px 984px #0094E0 , 544px 1925px #0094E0 , 444px 1802px #0094E0 , 1147px 1342px #0094E0 , 1656px 1006px #0094E0 , 1295px 1398px #0094E0 , 967px 1180px #0094E0 , 101px 1788px #0094E0 , 1844px 932px #0094E0 , 953px 933px #0094E0 , 1945px 875px #0094E0 , 522px 1849px #0094E0 , 1365px 1698px #0094E0 , 887px 1820px #0094E0 , 1871px 232px #0094E0 , 1822px 1545px #0094E0 , 1698px 837px #0094E0 , 179px 391px #0094E0 , 1199px 412px #0094E0 , 392px 996px #0094E0 , 893px 1005px #0094E0 , 865px 518px #0094E0 , 574px 1080px #0094E0 , 1442px 331px #0094E0 , 751px 553px #0094E0 , 460px 291px #0094E0 , 805px 611px #0094E0 , 1570px 1331px #0094E0 , 1619px 1549px #0094E0 , 1718px 1412px #0094E0 , 1508px 1520px #0094E0 , 1009px 934px #0094E0 , 182px 570px #0094E0 , 1362px 1190px #0094E0 , 1882px 1040px #0094E0 , 1388px 29px #0094E0 , 1612px 1900px #0094E0 , 293px 583px #0094E0 , 855px 83px #0094E0 , 1594px 66px #0094E0 , 688px 246px #0094E0 , 1250px 1358px #0094E0 , 1359px 1296px #0094E0 , 917px 5px #0094E0 , 159px 873px #0094E0 , 472px 1445px #0094E0 , 1018px 670px #0094E0 , 1202px 1701px #0094E0 , 1335px 138px #0094E0 , 1380px 875px #0094E0 , 1326px 255px #0094E0 , 523px 1117px #0094E0 , 272px 358px #0094E0 , 1110px 115px #0094E0 , 1352px 225px #0094E0 , 577px 807px #0094E0 , 1682px 1471px #0094E0 , 706px 1206px #0094E0 , 633px 1232px #0094E0 , 1998px 1724px #0094E0 , 41px 778px #0094E0 , 437px 564px #0094E0 , 1287px 516px #0094E0 , 652px 1022px #0094E0 , 991px 1678px #0094E0 , 1192px 1153px #0094E0 , 1532px 1775px #0094E0 , 476px 269px #0094E0 , 623px 1862px #0094E0 , 1515px 633px #0094E0 , 203px 514px #0094E0 , 72px 802px #0094E0 , 1829px 359px #0094E0 , 1541px 493px #0094E0;
  animation: animStar 50s linear infinite;
}
#stars:after {
	z-index: -1;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1354px 12633px #0094E0 , 587px 1769px #0094E0 , 1710px 645px #0094E0 , 1998px 47px #0094E0 , 749px 1290px #0094E0 , 6px 1274px #0094E0 , 573px 1817px #0094E0 , 25px 1400px #0094E0 , 1080px 1491px #0094E0 , 1134px 186px #0094E0 , 59px 966px #0094E0 , 875px 1668px #0094E0 , 1494px 1149px #0094E0 , 411px 1617px #0094E0 , 1450px 1321px #0094E0 , 1557px 1687px #0094E0 , 1983px 737px #0094E0 , 1349px 47px #0094E0 , 372px 1538px #0094E0 , 1424px 781px #0094E0 , 1008px 1472px #0094E0 , 18px 1006px #0094E0 , 1030px 942px #0094E0 , 1342px 1216px #0094E0 , 1861px 1503px #0094E0 , 446px 1462px #0094E0 , 66px 662px #0094E0 , 1992px 1923px #0094E0 , 1224px 1341px #0094E0 , 174px 452px #0094E0 , 1173px 1966px #0094E0 , 311px 708px #0094E0 , 624px 1125px #0094E0 , 1272px 1502px #0094E0 , 557px 238px #0094E0 , 523px 613px #0094E0 , 365px 74px #0094E0 , 997px 678px #0094E0 , 1179px 91px #0094E0 , 1126px 1042px #0094E0 , 1627px 30px #0094E0 , 1894px 614px #0094E0 , 738px 539px #0094E0 , 1206px 1696px #0094E0 , 241px 204px #0094E0 , 1587px 1028px #0094E0 , 1902px 1942px #0094E0 , 665px 1383px #0094E0 , 746px 109px #0094E0 , 940px 1183px #0094E0 , 572px 773px #0094E0 , 792px 980px #0094E0 , 1866px 1986px #0094E0 , 479px 1976px #0094E0 , 477px 1413px #0094E0 , 1149px 74px #0094E0 , 388px 275px #0094E0 , 31px 438px #0094E0 , 113px 407px #0094E0 , 1828px 1079px #0094E0 , 337px 360px #0094E0 , 879px 413px #0094E0 , 84px 1576px #0094E0 , 51px 815px #0094E0 , 342px 512px #0094E0 , 1770px 1815px #0094E0 , 1003px 921px #0094E0 , 551px 1854px #0094E0 , 507px 1653px #0094E0 , 1849px 576px #0094E0 , 443px 1377px #0094E0 , 1538px 1925px #0094E0 , 833px 929px #0094E0 , 420px 357px #0094E0 , 400px 1223px #0094E0 , 769px 52px #0094E0 , 1038px 1103px #0094E0 , 1877px 28px #0094E0 , 722px 1908px #0094E0 , 1160px 1348px #0094E0 , 795px 921px #0094E0 , 1836px 192px #0094E0 , 637px 1007px #0094E0 , 1297px 1356px #0094E0 , 20px 759px #0094E0 , 1996px 1735px #0094E0 , 1232px 172px #0094E0 , 1283px 1970px #0094E0 , 1403px 540px #0094E0 , 222px 1147px #0094E0 , 1394px 850px #0094E0 , 1700px 179px #0094E0 , 1211px 1832px #0094E0 , 452px 201px #0094E0 , 1493px 1199px #0094E0 , 867px 1613px #0094E0 , 240px 337px #0094E0 , 1243px 1437px #0094E0 , 1444px 1693px #0094E0 , 11px 1953px #0094E0 , 1894px 1612px #0094E0 , 1882px 1px #0094E0 , 304px 503px #0094E0 , 1675px 12px #0094E0 , 294px 1628px #0094E0 , 1726px 1322px #0094E0 , 1602px 1017px #0094E0 , 285px 872px #0094E0 , 320px 1094px #0094E0 , 367px 1208px #0094E0 , 1848px 1002px #0094E0 , 554px 354px #0094E0 , 1245px 1581px #0094E0 , 1799px 1421px #0094E0 , 1613px 1699px #0094E0 , 1174px 1796px #0094E0 , 1415px 103px #0094E0 , 1077px 161px #0094E0 , 1544px 1785px #0094E0 , 269px 1122px #0094E0 , 381px 554px #0094E0 , 741px 355px #0094E0 , 1843px 660px #0094E0 , 1776px 1753px #0094E0 , 567px 1067px #0094E0 , 1078px 1709px #0094E0 , 370px 902px #0094E0 , 1733px 950px #0094E0 , 597px 1508px #0094E0 , 1497px 151px #0094E0 , 392px 162px #0094E0 , 51px 85px #0094E0 , 1908px 1882px #0094E0 , 361px 902px #0094E0 , 298px 950px #0094E0 , 63px 620px #0094E0 , 608px 405px #0094E0 , 459px 1368px #0094E0 , 1956px 1339px #0094E0 , 1025px 467px #0094E0 , 1485px 1026px #0094E0 , 1929px 429px #0094E0 , 1608px 627px #0094E0 , 1663px 336px #0094E0 , 951px 211px #0094E0 , 1236px 783px #0094E0 , 1010px 1474px #0094E0 , 1003px 679px #0094E0 , 1357px 1554px #0094E0 , 128px 900px #0094E0 , 753px 1581px #0094E0 , 533px 1298px #0094E0 , 99px 1951px #0094E0 , 198px 1332px #0094E0 , 1233px 1945px #0094E0 , 1326px 1004px #0094E0 , 830px 513px #0094E0 , 452px 778px #0094E0 , 728px 1470px #0094E0 , 369px 1413px #0094E0 , 1274px 434px #0094E0 , 1361px 115px #0094E0 , 1183px 1382px #0094E0 , 1995px 746px #0094E0 , 903px 990px #0094E0 , 116px 1907px #0094E0 , 556px 1738px #0094E0 , 423px 21px #0094E0 , 1065px 925px #0094E0 , 1544px 719px #0094E0 , 271px 1351px #0094E0 , 1778px 1654px #0094E0 , 965px 18px #0094E0 , 1110px 903px #0094E0 , 1665px 1972px #0094E0 , 1043px 1502px #0094E0 , 1330px 1544px #0094E0 , 1464px 1580px #0094E0 , 164px 1923px #0094E0 , 1177px 323px #0094E0 , 447px 1379px #0094E0 , 819px 1650px #0094E0 , 1780px 956px #0094E0 , 1046px 1587px #0094E0 , 552px 797px #0094E0 , 981px 1271px #0094E0 , 856px 1726px #0094E0 , 1911px 1079px #0094E0 , 486px 1793px #0094E0 , 205px 1084px #0094E0 , 130px 324px #0094E0 , 668px 57px #0094E0 , 1636px 1272px #0094E0 , 971px 1942px #0094E0 , 1337px 56px #0094E0 , 103px 1599px #0094E0 , 1911px 1294px #0094E0 , 1376px 1051px #0094E0 , 1210px 1591px #0094E0 , 848px 623px #0094E0 , 418px 1649px #0094E0 , 57px 1918px #0094E0 , 363px 1127px #0094E0 , 1727px 38px #0094E0 , 304px 581px #0094E0 , 1570px 51px #0094E0 , 950px 597px #0094E0 , 387px 1378px #0094E0 , 1964px 90px #0094E0 , 1534px 258px #0094E0 , 953px 1978px #0094E0 , 466px 1825px #0094E0 , 1327px 322px #0094E0 , 639px 1418px #0094E0 , 1439px 1646px #0094E0 , 284px 944px #0094E0 , 538px 1532px #0094E0 , 750px 910px #0094E0 , 1938px 1069px #0094E0 , 685px 848px #0094E0 , 639px 1487px #0094E0 , 769px 1121px #0094E0 , 786px 1221px #0094E0 , 1765px 1444px #0094E0 , 1952px 418px #0094E0 , 1286px 262px #0094E0 , 1515px 42px #0094E0 , 1799px 780px #0094E0 , 516px 1454px #0094E0 , 31px 1868px #0094E0 , 447px 835px #0094E0 , 1810px 128px #0094E0 , 1911px 2px #0094E0 , 285px 177px #0094E0 , 679px 511px #0094E0 , 514px 1379px #0094E0 , 434px 739px #0094E0 , 1324px 1590px #0094E0 , 1609px 727px #0094E0 , 1003px 1973px #0094E0 , 1513px 608px #0094E0 , 381px 875px #0094E0 , 956px 903px #0094E0 , 1868px 800px #0094E0 , 1628px 313px #0094E0 , 227px 583px #0094E0 , 1841px 30px #0094E0 , 1086px 1531px #0094E0 , 678px 1652px #0094E0 , 1514px 1388px #0094E0 , 253px 1438px #0094E0 , 1906px 1735px #0094E0 , 38px 1062px #0094E0 , 336px 1737px #0094E0 , 1180px 286px #0094E0 , 1662px 1496px #0094E0 , 1237px 530px #0094E0 , 1304px 1593px #0094E0 , 133px 1497px #0094E0 , 1289px 1276px #0094E0 , 3px 734px #0094E0 , 1820px 87px #0094E0 , 586px 384px #0094E0 , 596px 915px #0094E0 , 243px 968px #0094E0 , 665px 791px #0094E0 , 611px 1962px #0094E0 , 1550px 1587px #0094E0 , 595px 812px #0094E0 , 1930px 1270px #0094E0 , 398px 1999px #0094E0 , 1088px 374px #0094E0 , 1168px 1833px #0094E0 , 663px 1432px #0094E0 , 1130px 142px #0094E0 , 1356px 514px #0094E0 , 1167px 297px #0094E0 , 1291px 79px #0094E0 , 1749px 711px #0094E0 , 145px 1147px #0094E0 , 1726px 1837px #0094E0 , 1856px 679px #0094E0 , 253px 476px #0094E0 , 1101px 1519px #0094E0 , 1499px 542px #0094E0 , 529px 953px #0094E0 , 343px 913px #0094E0 , 1508px 1375px #0094E0 , 1446px 1023px #0094E0 , 255px 1967px #0094E0 , 1338px 1724px #0094E0 , 853px 1127px #0094E0 , 1891px 311px #0094E0 , 229px 1216px #0094E0 , 1531px 437px #0094E0 , 1993px 1723px #0094E0 , 661px 1795px #0094E0 , 1382px 414px #0094E0 , 355px 1362px #0094E0 , 1397px 296px #0094E0 , 208px 522px #0094E0 , 560px 1091px #0094E0 , 1311px 845px #0094E0 , 124px 835px #0094E0 , 1289px 1840px #0094E0 , 592px 845px #0094E0 , 512px 1466px #0094E0 , 838px 460px #0094E0 , 626px 699px #0094E0 , 204px 263px #0094E0 , 763px 1523px #0094E0 , 905px 1832px #0094E0 , 1298px 1976px #0094E0 , 566px 894px #0094E0 , 691px 886px #0094E0 , 623px 1757px #0094E0 , 1849px 1618px #0094E0 , 1195px 388px #0094E0 , 981px 1663px #0094E0 , 505px 157px #0094E0 , 96px 790px #0094E0 , 1566px 1443px #0094E0 , 1715px 1456px #0094E0 , 1146px 1145px #0094E0 , 847px 1333px #0094E0 , 1607px 79px #0094E0 , 428px 923px #0094E0 , 1120px 1619px #0094E0 , 929px 1854px #0094E0 , 74px 619px #0094E0 , 1725px 1164px #0094E0 , 41px 354px #0094E0 , 380px 1833px #0094E0 , 708px 112px #0094E0 , 272px 1380px #0094E0 , 74px 596px #0094E0 , 435px 539px #0094E0 , 832px 1773px #0094E0 , 1007px 1446px #0094E0 , 1952px 1830px #0094E0 , 1169px 21px #0094E0 , 666px 1076px #0094E0 , 1593px 1900px #0094E0 , 1020px 1309px #0094E0 , 103px 273px #0094E0 , 262px 1765px #0094E0 , 647px 1475px #0094E0 , 664px 756px #0094E0 , 751px 1799px #0094E0 , 1173px 956px #0094E0 , 1926px 1738px #0094E0 , 806px 902px #0094E0 , 832px 1102px #0094E0 , 166px 581px #0094E0 , 780px 862px #0094E0 , 1125px 1451px #0094E0 , 1385px 1119px #0094E0 , 1788px 236px #0094E0 , 276px 1714px #0094E0 , 476px 1621px #0094E0 , 1459px 1826px #0094E0 , 850px 1551px #0094E0 , 515px 975px #0094E0 , 675px 15px #0094E0 , 586px 1749px #0094E0 , 593px 997px #0094E0 , 484px 1285px #0094E0 , 1146px 1693px #0094E0 , 1458px 754px #0094E0 , 1168px 1701px #0094E0 , 1560px 912px #0094E0 , 1189px 1808px #0094E0 , 1626px 1725px #0094E0 , 1024px 678px #0094E0 , 1043px 473px #0094E0 , 1731px 337px #0094E0 , 672px 292px #0094E0 , 1308px 533px #0094E0 , 1871px 1893px #0094E0 , 1274px 163px #0094E0 , 1067px 1201px #0094E0 , 322px 1396px #0094E0 , 1542px 1759px #0094E0 , 1425px 1445px #0094E0 , 973px 214px #0094E0 , 1930px 591px #0094E0 , 467px 1264px #0094E0 , 437px 1296px #0094E0 , 1881px 221px #0094E0 , 590px 1161px #0094E0 , 1355px 1324px #0094E0 , 785px 1828px #0094E0 , 1504px 985px #0094E0 , 595px 1911px #0094E0 , 1115px 37px #0094E0 , 1754px 138px #0094E0 , 1984px 986px #0094E0 , 122px 1762px #0094E0 , 977px 995px #0094E0 , 884px 1914px #0094E0 , 771px 1977px #0094E0 , 1188px 307px #0094E0 , 1259px 834px #0094E0 , 1718px 1719px #0094E0 , 1222px 954px #0094E0 , 700px 1026px #0094E0 , 1400px 1125px #0094E0 , 935px 204px #0094E0 , 1510px 548px #0094E0 , 1185px 1674px #0094E0 , 43px 874px #0094E0 , 495px 1365px #0094E0 , 258px 1251px #0094E0 , 217px 1638px #0094E0 , 717px 22px #0094E0 , 306px 1645px #0094E0 , 1041px 476px #0094E0 , 1175px 717px #0094E0 , 938px 1547px #0094E0 , 1724px 1175px #0094E0 , 1387px 1226px #0094E0 , 1886px 1357px #0094E0 , 1722px 1022px #0094E0 , 716px 611px #0094E0 , 755px 1722px #0094E0 , 1722px 1930px #0094E0 , 1938px 94px #0094E0 , 267px 665px #0094E0 , 1216px 1467px #0094E0 , 118px 196px #0094E0 , 697px 1123px #0094E0 , 1888px 1140px #0094E0 , 84px 717px #0094E0 , 137px 1839px #0094E0 , 1635px 1670px #0094E0 , 1829px 1187px #0094E0 , 1827px 1249px #0094E0 , 1935px 744px #0094E0 , 1667px 1278px #0094E0 , 644px 553px #0094E0 , 640px 1664px #0094E0 , 634px 109px #0094E0 , 971px 1924px #0094E0 , 102px 921px #0094E0 , 728px 1782px #0094E0 , 1729px 299px #0094E0 , 330px 703px #0094E0 , 638px 1478px #0094E0 , 1011px 1532px #0094E0 , 910px 1489px #0094E0 , 1693px 47px #0094E0 , 404px 569px #0094E0 , 399px 859px #0094E0 , 1013px 322px #0094E0 , 1778px 412px #0094E0 , 1760px 1347px #0094E0 , 1000px 1749px #0094E0 , 1362px 1259px #0094E0 , 1913px 1950px #0094E0 , 1260px 282px #0094E0 , 95px 73px #0094E0 , 1234px 778px #0094E0 , 1947px 1240px #0094E0 , 1874px 1568px #0094E0 , 1218px 535px #0094E0 , 193px 333px #0094E0 , 580px 59px #0094E0 , 118px 1449px #0094E0 , 1511px 1699px #0094E0 , 901px 1182px #0094E0 , 871px 513px #0094E0 , 687px 1661px #0094E0 , 1510px 1651px #0094E0 , 1752px 971px #0094E0 , 67px 1000px #0094E0 , 76px 889px #0094E0 , 670px 1155px #0094E0 , 1063px 512px #0094E0 , 1860px 646px #0094E0 , 1962px 1644px #0094E0 , 1731px 484px #0094E0 , 1627px 578px #0094E0 , 260px 1164px #0094E0 , 390px 107px #0094E0 , 638px 1705px #0094E0 , 563px 1746px #0094E0 , 891px 1329px #0094E0 , 1612px 426px #0094E0 , 1619px 741px #0094E0 , 1651px 125px #0094E0 , 695px 675px #0094E0 , 470px 1483px #0094E0 , 498px 575px #0094E0 , 1587px 1694px #0094E0 , 573px 1792px #0094E0 , 80px 1834px #0094E0 , 909px 614px #0094E0 , 1701px 1115px #0094E0 , 332px 1272px #0094E0 , 1958px 1651px #0094E0 , 482px 1346px #0094E0 , 1654px 595px #0094E0 , 563px 830px #0094E0 , 606px 1192px #0094E0 , 1423px 1693px #0094E0 , 617px 1854px #0094E0 , 1633px 434px #0094E0 , 1621px 272px #0094E0 , 486px 808px #0094E0 , 838px 1146px #0094E0 , 1056px 64px #0094E0 , 315px 521px #0094E0 , 934px 1128px #0094E0 , 97px 26px #0094E0 , 717px 1458px #0094E0 , 656px 1082px #0094E0 , 190px 280px #0094E0 , 235px 1778px #0094E0 , 1842px 121px #0094E0 , 533px 1534px #0094E0 , 302px 851px #0094E0 , 1579px 956px #0094E0 , 1150px 621px #0094E0 , 1683px 1248px #0094E0 , 1726px 1035px #0094E0 , 670px 683px #0094E0 , 207px 573px #0094E0 , 399px 16px #0094E0 , 1188px 1150px #0094E0 , 312px 737px #0094E0 , 353px 541px #0094E0 , 533px 399px #0094E0 , 386px 777px #0094E0 , 52px 1973px #0094E0 , 1462px 1726px #0094E0 , 1755px 222px #0094E0 , 1485px 1233px #0094E0 , 452px 677px #0094E0 , 212px 1995px #0094E0 , 973px 1720px #0094E0 , 16px 1141px #0094E0 , 455px 1821px #0094E0 , 1274px 992px #0094E0 , 1629px 1050px #0094E0 , 184px 1837px #0094E0 , 603px 56px #0094E0 , 998px 961px #0094E0 , 43px 1042px #0094E0 , 807px 1989px #0094E0 , 984px 165px #0094E0 , 23px 1753px #0094E0 , 969px 154px #0094E0 , 212px 1471px #0094E0 , 1448px 1413px #0094E0 , 1006px 343px #0094E0 , 153px 59px #0094E0 , 952px 124px #0094E0 , 1317px 1302px #0094E0 , 888px 1179px #0094E0 , 27px 1038px #0094E0 , 1824px 1291px #0094E0 , 1114px 833px #0094E0 , 537px 635px #0094E0 , 457px 441px #0094E0 , 293px 1888px #0094E0 , 445px 1514px #0094E0 , 1701px 1961px #0094E0 , 1994px 1907px #0094E0 , 1111px 1353px #0094E0 , 1888px 1820px #0094E0 , 651px 1434px #0094E0 , 1551px 1215px #0094E0 , 1047px 1030px #0094E0 , 893px 13px #0094E0 , 243px 1288px #0094E0 , 755px 1512px #0094E0 , 1726px 1502px #0094E0 , 1250px 1821px #0094E0 , 640px 372px #0094E0 , 504px 1464px #0094E0 , 651px 1916px #0094E0 , 741px 1885px #0094E0 , 1535px 1253px #0094E0 , 677px 874px #0094E0 , 1603px 1673px #0094E0 , 1153px 108px #0094E0 , 506px 913px #0094E0 , 421px 1212px #0094E0 , 1887px 656px #0094E0 , 1009px 1616px #0094E0 , 1740px 1457px #0094E0 , 1524px 168px #0094E0 , 1296px 1381px #0094E0 , 84px 340px #0094E0 , 1093px 464px #0094E0 , 598px 1141px #0094E0 , 1004px 941px #0094E0 , 1895px 1588px #0094E0 , 936px 975px #0094E0 , 1041px 387px #0094E0 , 1712px 1662px #0094E0 , 793px 570px #0094E0 , 1227px 1348px #0094E0 , 111px 739px #0094E0 , 1701px 269px #0094E0 , 1138px 1926px #0094E0 , 990px 102px #0094E0 , 594px 1652px #0094E0 , 926px 1970px #0094E0 , 206px 1615px #0094E0 , 737px 1634px #0094E0 , 1703px 48px #0094E0 , 403px 1329px #0094E0 , 160px 676px #0094E0 , 1143px 1745px #0094E0 , 498px 1852px #0094E0 , 1380px 960px #0094E0 , 1815px 497px #0094E0 , 1921px 2000px #0094E0 , 670px 324px #0094E0 , 42px 1068px #0094E0 , 726px 231px #0094E0 , 1360px 1166px #0094E0 , 1613px 1914px #0094E0 , 882px 919px #0094E0 , 213px 1875px #0094E0 , 1053px 984px #0094E0 , 544px 1925px #0094E0 , 444px 1802px #0094E0 , 1147px 1342px #0094E0 , 1656px 1006px #0094E0 , 1295px 1398px #0094E0 , 967px 1180px #0094E0 , 101px 1788px #0094E0 , 1844px 932px #0094E0 , 953px 933px #0094E0 , 1945px 875px #0094E0 , 522px 1849px #0094E0 , 1365px 1698px #0094E0 , 887px 1820px #0094E0 , 1871px 232px #0094E0 , 1822px 1545px #0094E0 , 1698px 837px #0094E0 , 179px 391px #0094E0 , 1199px 412px #0094E0 , 392px 996px #0094E0 , 893px 1005px #0094E0 , 865px 518px #0094E0 , 574px 1080px #0094E0 , 1442px 331px #0094E0 , 751px 553px #0094E0 , 460px 291px #0094E0 , 805px 611px #0094E0 , 1570px 1331px #0094E0 , 1619px 1549px #0094E0 , 1718px 1412px #0094E0 , 1508px 1520px #0094E0 , 1009px 934px #0094E0 , 182px 570px #0094E0 , 1362px 1190px #0094E0 , 1882px 1040px #0094E0 , 1388px 29px #0094E0 , 1612px 1900px #0094E0 , 293px 583px #0094E0 , 855px 83px #0094E0 , 1594px 66px #0094E0 , 688px 246px #0094E0 , 1250px 1358px #0094E0 , 1359px 1296px #0094E0 , 917px 5px #0094E0 , 159px 873px #0094E0 , 472px 1445px #0094E0 , 1018px 670px #0094E0 , 1202px 1701px #0094E0 , 1335px 138px #0094E0 , 1380px 875px #0094E0 , 1326px 255px #0094E0 , 523px 1117px #0094E0 , 272px 358px #0094E0 , 1110px 115px #0094E0 , 1352px 225px #0094E0 , 577px 807px #0094E0 , 1682px 1471px #0094E0 , 706px 1206px #0094E0 , 633px 1232px #0094E0 , 1998px 1724px #0094E0 , 41px 778px #0094E0 , 437px 564px #0094E0 , 1287px 516px #0094E0 , 652px 1022px #0094E0 , 991px 1678px #0094E0 , 1192px 1153px #0094E0 , 1532px 1775px #0094E0 , 476px 269px #0094E0 , 623px 1862px #0094E0 , 1515px 633px #0094E0 , 203px 514px #0094E0 , 72px 802px #0094E0 , 1829px 359px #0094E0 , 1541px 493px #0094E0;
}

#stars2 {
	z-index: -1;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1428px 4113px #0094E0 , 388px 551px #0094E0 , 911px 1822px #0094E0 , 514px 1283px #0094E0 , 1814px 1006px #0094E0 , 568px 1075px #0094E0 , 1971px 1941px #0094E0 , 1099px 68px #0094E0 , 1922px 1264px #0094E0 , 1305px 1044px #0094E0 , 594px 1540px #0094E0 , 539px 1678px #0094E0 , 74px 872px #0094E0 , 1917px 517px #0094E0 , 120px 1374px #0094E0 , 1393px 2000px #0094E0 , 346px 1218px #0094E0 , 789px 402px #0094E0 , 1673px 470px #0094E0 , 1914px 1967px #0094E0 , 53px 1957px #0094E0 , 492px 1813px #0094E0 , 483px 789px #0094E0 , 1821px 747px #0094E0 , 701px 1300px #0094E0 , 722px 1721px #0094E0 , 1078px 202px #0094E0 , 587px 518px #0094E0 , 870px 1435px #0094E0 , 1235px 1754px #0094E0 , 894px 1642px #0094E0 , 1420px 1619px #0094E0 , 509px 660px #0094E0 , 203px 726px #0094E0 , 1621px 503px #0094E0 , 1545px 1334px #0094E0 , 1778px 1306px #0094E0 , 422px 1746px #0094E0 , 1639px 639px #0094E0 , 870px 461px #0094E0 , 1954px 519px #0094E0 , 610px 1751px #0094E0 , 1791px 638px #0094E0 , 507px 521px #0094E0 , 1382px 87px #0094E0 , 200px 110px #0094E0 , 1995px 1363px #0094E0 , 1195px 8px #0094E0 , 1759px 1896px #0094E0 , 518px 1889px #0094E0 , 1154px 1478px #0094E0 , 1571px 722px #0094E0 , 1260px 1235px #0094E0 , 1622px 505px #0094E0 , 1499px 1730px #0094E0 , 777px 1746px #0094E0 , 520px 268px #0094E0 , 170px 1870px #0094E0 , 181px 1024px #0094E0 , 1606px 1412px #0094E0 , 1154px 549px #0094E0 , 1892px 1878px #0094E0 , 720px 1845px #0094E0 , 261px 1684px #0094E0 , 1528px 1416px #0094E0 , 668px 143px #0094E0 , 265px 1743px #0094E0 , 1932px 787px #0094E0 , 1953px 155px #0094E0 , 1166px 831px #0094E0 , 1501px 468px #0094E0 , 1616px 895px #0094E0 , 635px 731px #0094E0 , 64px 86px #0094E0 , 425px 413px #0094E0 , 1983px 1590px #0094E0 , 1768px 445px #0094E0 , 1730px 1293px #0094E0 , 1930px 1783px #0094E0 , 1299px 643px #0094E0 , 1462px 389px #0094E0 , 1549px 1147px #0094E0 , 1577px 265px #0094E0 , 1123px 962px #0094E0 , 1539px 909px #0094E0 , 1153px 329px #0094E0 , 23px 1545px #0094E0 , 572px 1166px #0094E0 , 1159px 473px #0094E0 , 1065px 1897px #0094E0 , 5px 537px #0094E0 , 1913px 495px #0094E0 , 416px 1344px #0094E0 , 1701px 52px #0094E0 , 259px 1025px #0094E0 , 1127px 677px #0094E0 , 1243px 203px #0094E0 , 1699px 109px #0094E0 , 820px 1393px #0094E0 , 142px 1264px #0094E0 , 283px 581px #0094E0 , 1246px 1336px #0094E0 , 905px 754px #0094E0 , 1404px 969px #0094E0 , 1186px 713px #0094E0 , 865px 297px #0094E0 , 1262px 1983px #0094E0 , 1382px 481px #0094E0 , 1623px 723px #0094E0 , 1199px 506px #0094E0 , 1509px 43px #0094E0 , 1765px 1340px #0094E0 , 1541px 1594px #0094E0 , 1015px 1759px #0094E0 , 1461px 1018px #0094E0 , 883px 432px #0094E0 , 717px 1595px #0094E0 , 328px 1671px #0094E0 , 687px 197px #0094E0 , 251px 944px #0094E0 , 286px 871px #0094E0 , 815px 1915px #0094E0 , 1252px 1635px #0094E0 , 692px 765px #0094E0 , 1952px 336px #0094E0 , 1247px 433px #0094E0 , 1171px 366px #0094E0 , 315px 174px #0094E0 , 3px 935px #0094E0 , 1877px 1246px #0094E0 , 45px 722px #0094E0 , 1838px 1824px #0094E0 , 851px 605px #0094E0 , 1080px 1879px #0094E0 , 1648px 1827px #0094E0 , 897px 710px #0094E0 , 905px 1981px #0094E0 , 746px 259px #0094E0 , 340px 324px #0094E0 , 1316px 335px #0094E0 , 1402px 1099px #0094E0 , 794px 855px #0094E0 , 561px 627px #0094E0 , 867px 1136px #0094E0 , 1767px 599px #0094E0 , 472px 1788px #0094E0 , 1496px 45px #0094E0 , 536px 726px #0094E0 , 427px 1717px #0094E0 , 198px 126px #0094E0 , 1476px 1032px #0094E0 , 1852px 950px #0094E0 , 1766px 939px #0094E0 , 272px 699px #0094E0 , 281px 1108px #0094E0 , 1784px 1437px #0094E0 , 981px 146px #0094E0 , 600px 1419px #0094E0 , 805px 570px #0094E0 , 972px 1469px #0094E0 , 1465px 1483px #0094E0 , 612px 1735px #0094E0 , 544px 1240px #0094E0 , 1168px 415px #0094E0 , 1184px 989px #0094E0 , 579px 1207px #0094E0 , 1938px 1311px #0094E0 , 879px 1253px #0094E0 , 1916px 825px #0094E0 , 392px 126px #0094E0 , 1029px 1212px #0094E0 , 1022px 1946px #0094E0 , 715px 1020px #0094E0 , 1779px 400px #0094E0 , 1524px 648px #0094E0 , 910px 1113px #0094E0 , 308px 447px #0094E0 , 1780px 1782px #0094E0 , 1417px 274px #0094E0 , 19px 1143px #0094E0 , 1808px 576px #0094E0 , 358px 1490px #0094E0 , 490px 1960px #0094E0 , 1837px 735px #0094E0 , 543px 959px #0094E0 , 913px 1266px #0094E0 , 1634px 1419px #0094E0 , 892px 1142px #0094E0 , 525px 427px #0094E0 , 1506px 863px #0094E0 , 1615px 345px #0094E0 , 1646px 545px #0094E0 , 1910px 1605px #0094E0 , 268px 521px #0094E0 , 1518px 1244px #0094E0 , 1749px 1119px #0094E0 , 493px 290px #0094E0 , 794px 1879px #0094E0 , 450px 645px #0094E0 , 1952px 620px #0094E0;
  animation: animStar 100s linear infinite;
}
#stars2:after {
	z-index: -1;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1428px 4113px #0094E0 , 388px 551px #0094E0 , 911px 1822px #0094E0 , 514px 1283px #0094E0 , 1814px 1006px #0094E0 , 568px 1075px #0094E0 , 1971px 1941px #0094E0 , 1099px 68px #0094E0 , 1922px 1264px #0094E0 , 1305px 1044px #0094E0 , 594px 1540px #0094E0 , 539px 1678px #0094E0 , 74px 872px #0094E0 , 1917px 517px #0094E0 , 120px 1374px #0094E0 , 1393px 2000px #0094E0 , 346px 1218px #0094E0 , 789px 402px #0094E0 , 1673px 470px #0094E0 , 1914px 1967px #0094E0 , 53px 1957px #0094E0 , 492px 1813px #0094E0 , 483px 789px #0094E0 , 1821px 747px #0094E0 , 701px 1300px #0094E0 , 722px 1721px #0094E0 , 1078px 202px #0094E0 , 587px 518px #0094E0 , 870px 1435px #0094E0 , 1235px 1754px #0094E0 , 894px 1642px #0094E0 , 1420px 1619px #0094E0 , 509px 660px #0094E0 , 203px 726px #0094E0 , 1621px 503px #0094E0 , 1545px 1334px #0094E0 , 1778px 1306px #0094E0 , 422px 1746px #0094E0 , 1639px 639px #0094E0 , 870px 461px #0094E0 , 1954px 519px #0094E0 , 610px 1751px #0094E0 , 1791px 638px #0094E0 , 507px 521px #0094E0 , 1382px 87px #0094E0 , 200px 110px #0094E0 , 1995px 1363px #0094E0 , 1195px 8px #0094E0 , 1759px 1896px #0094E0 , 518px 1889px #0094E0 , 1154px 1478px #0094E0 , 1571px 722px #0094E0 , 1260px 1235px #0094E0 , 1622px 505px #0094E0 , 1499px 1730px #0094E0 , 777px 1746px #0094E0 , 520px 268px #0094E0 , 170px 1870px #0094E0 , 181px 1024px #0094E0 , 1606px 1412px #0094E0 , 1154px 549px #0094E0 , 1892px 1878px #0094E0 , 720px 1845px #0094E0 , 261px 1684px #0094E0 , 1528px 1416px #0094E0 , 668px 143px #0094E0 , 265px 1743px #0094E0 , 1932px 787px #0094E0 , 1953px 155px #0094E0 , 1166px 831px #0094E0 , 1501px 468px #0094E0 , 1616px 895px #0094E0 , 635px 731px #0094E0 , 64px 86px #0094E0 , 425px 413px #0094E0 , 1983px 1590px #0094E0 , 1768px 445px #0094E0 , 1730px 1293px #0094E0 , 1930px 1783px #0094E0 , 1299px 643px #0094E0 , 1462px 389px #0094E0 , 1549px 1147px #0094E0 , 1577px 265px #0094E0 , 1123px 962px #0094E0 , 1539px 909px #0094E0 , 1153px 329px #0094E0 , 23px 1545px #0094E0 , 572px 1166px #0094E0 , 1159px 473px #0094E0 , 1065px 1897px #0094E0 , 5px 537px #0094E0 , 1913px 495px #0094E0 , 416px 1344px #0094E0 , 1701px 52px #0094E0 , 259px 1025px #0094E0 , 1127px 677px #0094E0 , 1243px 203px #0094E0 , 1699px 109px #0094E0 , 820px 1393px #0094E0 , 142px 1264px #0094E0 , 283px 581px #0094E0 , 1246px 1336px #0094E0 , 905px 754px #0094E0 , 1404px 969px #0094E0 , 1186px 713px #0094E0 , 865px 297px #0094E0 , 1262px 1983px #0094E0 , 1382px 481px #0094E0 , 1623px 723px #0094E0 , 1199px 506px #0094E0 , 1509px 43px #0094E0 , 1765px 1340px #0094E0 , 1541px 1594px #0094E0 , 1015px 1759px #0094E0 , 1461px 1018px #0094E0 , 883px 432px #0094E0 , 717px 1595px #0094E0 , 328px 1671px #0094E0 , 687px 197px #0094E0 , 251px 944px #0094E0 , 286px 871px #0094E0 , 815px 1915px #0094E0 , 1252px 1635px #0094E0 , 692px 765px #0094E0 , 1952px 336px #0094E0 , 1247px 433px #0094E0 , 1171px 366px #0094E0 , 315px 174px #0094E0 , 3px 935px #0094E0 , 1877px 1246px #0094E0 , 45px 722px #0094E0 , 1838px 1824px #0094E0 , 851px 605px #0094E0 , 1080px 1879px #0094E0 , 1648px 1827px #0094E0 , 897px 710px #0094E0 , 905px 1981px #0094E0 , 746px 259px #0094E0 , 340px 324px #0094E0 , 1316px 335px #0094E0 , 1402px 1099px #0094E0 , 794px 855px #0094E0 , 561px 627px #0094E0 , 867px 1136px #0094E0 , 1767px 599px #0094E0 , 472px 1788px #0094E0 , 1496px 45px #0094E0 , 536px 726px #0094E0 , 427px 1717px #0094E0 , 198px 126px #0094E0 , 1476px 1032px #0094E0 , 1852px 950px #0094E0 , 1766px 939px #0094E0 , 272px 699px #0094E0 , 281px 1108px #0094E0 , 1784px 1437px #0094E0 , 981px 146px #0094E0 , 600px 1419px #0094E0 , 805px 570px #0094E0 , 972px 1469px #0094E0 , 1465px 1483px #0094E0 , 612px 1735px #0094E0 , 544px 1240px #0094E0 , 1168px 415px #0094E0 , 1184px 989px #0094E0 , 579px 1207px #0094E0 , 1938px 1311px #0094E0 , 879px 1253px #0094E0 , 1916px 825px #0094E0 , 392px 126px #0094E0 , 1029px 1212px #0094E0 , 1022px 1946px #0094E0 , 715px 1020px #0094E0 , 1779px 400px #0094E0 , 1524px 648px #0094E0 , 910px 1113px #0094E0 , 308px 447px #0094E0 , 1780px 1782px #0094E0 , 1417px 274px #0094E0 , 19px 1143px #0094E0 , 1808px 576px #0094E0 , 358px 1490px #0094E0 , 490px 1960px #0094E0 , 1837px 735px #0094E0 , 543px 959px #0094E0 , 913px 1266px #0094E0 , 1634px 1419px #0094E0 , 892px 1142px #0094E0 , 525px 427px #0094E0 , 1506px 863px #0094E0 , 1615px 345px #0094E0 , 1646px 545px #0094E0 , 1910px 1605px #0094E0 , 268px 521px #0094E0 , 1518px 1244px #0094E0 , 1749px 1119px #0094E0 , 493px 290px #0094E0 , 794px 1879px #0094E0 , 450px 645px #0094E0 , 1952px 620px #0094E0;
}

#stars3 {
	z-index: -1;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1619px 17619px #0094E0 , 795px 1299px #0094E0 , 1202px 264px #0094E0 , 1095px 865px #0094E0 , 530px 395px #0094E0 , 1195px 879px #0094E0 , 260px 15px #0094E0 , 1704px 1427px #0094E0 , 1134px 1661px #0094E0 , 137px 914px #0094E0 , 740px 1491px #0094E0 , 1623px 85px #0094E0 , 523px 1913px #0094E0 , 970px 394px #0094E0 , 1161px 1123px #0094E0 , 1833px 83px #0094E0 , 1905px 903px #0094E0 , 1340px 1942px #0094E0 , 1882px 885px #0094E0 , 211px 1623px #0094E0 , 169px 738px #0094E0 , 1597px 129px #0094E0 , 1639px 1029px #0094E0 , 1670px 379px #0094E0 , 1406px 733px #0094E0 , 32px 1288px #0094E0 , 1636px 1728px #0094E0 , 1495px 196px #0094E0 , 1293px 76px #0094E0 , 286px 100px #0094E0 , 1820px 370px #0094E0 , 1316px 1516px #0094E0 , 619px 462px #0094E0 , 701px 278px #0094E0 , 1388px 1158px #0094E0 , 1215px 1932px #0094E0 , 49px 1242px #0094E0 , 1085px 1181px #0094E0 , 752px 652px #0094E0 , 1265px 1228px #0094E0 , 1594px 1308px #0094E0 , 699px 541px #0094E0 , 57px 851px #0094E0 , 1507px 249px #0094E0 , 1614px 908px #0094E0 , 1217px 534px #0094E0 , 406px 286px #0094E0 , 423px 549px #0094E0 , 1510px 385px #0094E0 , 615px 352px #0094E0 , 676px 1484px #0094E0 , 1443px 360px #0094E0 , 192px 188px #0094E0 , 103px 1282px #0094E0 , 350px 104px #0094E0 , 865px 385px #0094E0 , 449px 1386px #0094E0 , 1514px 1566px #0094E0 , 866px 615px #0094E0 , 824px 955px #0094E0 , 1702px 1615px #0094E0 , 1083px 1730px #0094E0 , 1145px 483px #0094E0 , 1193px 339px #0094E0 , 1431px 1417px #0094E0 , 589px 1301px #0094E0 , 959px 1719px #0094E0 , 1377px 1944px #0094E0 , 1350px 1737px #0094E0 , 314px 1566px #0094E0 , 1673px 609px #0094E0 , 219px 1318px #0094E0 , 1783px 1695px #0094E0 , 1603px 67px #0094E0 , 383px 801px #0094E0 , 1340px 1205px #0094E0 , 845px 360px #0094E0 , 1766px 184px #0094E0 , 1864px 630px #0094E0 , 1628px 628px #0094E0 , 107px 104px #0094E0 , 1973px 1093px #0094E0 , 1490px 1568px #0094E0 , 233px 1822px #0094E0 , 1280px 1987px #0094E0 , 1203px 1583px #0094E0 , 1948px 640px #0094E0 , 936px 226px #0094E0 , 1554px 484px #0094E0 , 1791px 1967px #0094E0 , 84px 1350px #0094E0 , 300px 1511px #0094E0 , 1302px 1853px #0094E0 , 1786px 351px #0094E0 , 36px 215px #0094E0 , 1301px 352px #0094E0 , 1081px 725px #0094E0 , 668px 677px #0094E0 , 887px 1410px #0094E0 , 553px 671px #0094E0;
  animation: animStar 150s linear infinite;
}
#stars3:after {
	z-index: -1;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1619px 17619px #0094E0 , 795px 1299px #0094E0 , 1202px 264px #0094E0 , 1095px 865px #0094E0 , 530px 395px #0094E0 , 1195px 879px #0094E0 , 260px 15px #0094E0 , 1704px 1427px #0094E0 , 1134px 1661px #0094E0 , 137px 914px #0094E0 , 740px 1491px #0094E0 , 1623px 85px #0094E0 , 523px 1913px #0094E0 , 970px 394px #0094E0 , 1161px 1123px #0094E0 , 1833px 83px #0094E0 , 1905px 903px #0094E0 , 1340px 1942px #0094E0 , 1882px 885px #0094E0 , 211px 1623px #0094E0 , 169px 738px #0094E0 , 1597px 129px #0094E0 , 1639px 1029px #0094E0 , 1670px 379px #0094E0 , 1406px 733px #0094E0 , 32px 1288px #0094E0 , 1636px 1728px #0094E0 , 1495px 196px #0094E0 , 1293px 76px #0094E0 , 286px 100px #0094E0 , 1820px 370px #0094E0 , 1316px 1516px #0094E0 , 619px 462px #0094E0 , 701px 278px #0094E0 , 1388px 1158px #0094E0 , 1215px 1932px #0094E0 , 49px 1242px #0094E0 , 1085px 1181px #0094E0 , 752px 652px #0094E0 , 1265px 1228px #0094E0 , 1594px 1308px #0094E0 , 699px 541px #0094E0 , 57px 851px #0094E0 , 1507px 249px #0094E0 , 1614px 908px #0094E0 , 1217px 534px #0094E0 , 406px 286px #0094E0 , 423px 549px #0094E0 , 1510px 385px #0094E0 , 615px 352px #0094E0 , 676px 1484px #0094E0 , 1443px 360px #0094E0 , 192px 188px #0094E0 , 103px 1282px #0094E0 , 350px 104px #0094E0 , 865px 385px #0094E0 , 449px 1386px #0094E0 , 1514px 1566px #0094E0 , 866px 615px #0094E0 , 824px 955px #0094E0 , 1702px 1615px #0094E0 , 1083px 1730px #0094E0 , 1145px 483px #0094E0 , 1193px 339px #0094E0 , 1431px 1417px #0094E0 , 589px 1301px #0094E0 , 959px 1719px #0094E0 , 1377px 1944px #0094E0 , 1350px 1737px #0094E0 , 314px 1566px #0094E0 , 1673px 609px #0094E0 , 219px 1318px #0094E0 , 1783px 1695px #0094E0 , 1603px 67px #0094E0 , 383px 801px #0094E0 , 1340px 1205px #0094E0 , 845px 360px #0094E0 , 1766px 184px #0094E0 , 1864px 630px #0094E0 , 1628px 628px #0094E0 , 107px 104px #0094E0 , 1973px 1093px #0094E0 , 1490px 1568px #0094E0 , 233px 1822px #0094E0 , 1280px 1987px #0094E0 , 1203px 1583px #0094E0 , 1948px 640px #0094E0 , 936px 226px #0094E0 , 1554px 484px #0094E0 , 1791px 1967px #0094E0 , 84px 1350px #0094E0 , 300px 1511px #0094E0 , 1302px 1853px #0094E0 , 1786px 351px #0094E0 , 36px 215px #0094E0 , 1301px 352px #0094E0 , 1081px 725px #0094E0 , 668px 677px #0094E0 , 887px 1410px #0094E0 , 553px 671px #0094E0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.tx_lato_regular_21_blanco_01{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	padding-top:205px;
	padding-left: 135px;
	padding-bottom: 10px;
	z-index: 1;
	letter-spacing: 5px;
}

.tx_lato_black_35_blanco_01{
	font-family: 'Lato-Black', sans-serif;
  font-size:35pt;
  color:white;
	padding-left: 135px;
	padding-bottom: 15px;
	z-index: 1;
	letter-spacing: 5px;
}

.tx_lato_regular_21_blanco_02{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	padding-left: 135px;
	line-height: 30pt;
	z-index: 1;
	letter-spacing: 5px;
}

.index-graph{
	padding-top:30px;
	padding-bottom:30px;
	z-index: 1000;
}

.tx_lato_regular_21_blanco_03{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	padding-left: 135px;
	padding-bottom: 50px;
	line-height: 30pt;
	z-index: 1;
	letter-spacing: 5px;
}

.padding-img-01{
	margin-left: 20%;
}
@media screen and (max-width: 1509px) {
	.padding-img-01{
		margin-left: 25%;
	}
}
@media screen and (max-width: 1199px) {
	.padding-img-01{
		margin-left: 30%;
	}
}
@media screen and (max-width: 991px) {
	.padding-img-01{
		margin-left: 41%;
		height:60px;
	}
}
.padding-img-02{
	margin-left: -150px;
}
@media screen and (max-width: 1509px) {
	.padding-img-02{
		margin-left: 0px;
	}
}
@media screen and (max-width: 1199px) {
	.padding-img-02{
		margin-left: 90px;
	}
}
@media screen and (max-width: 991px) {
	.padding-img-02{
		margin-left: 90px;
		height:60px;
	}
}

/*Envio de formulario*/
.cara-triste{
	position: absolute;
	top:205px;
}

.tx_lato_regular_21_blanco_form_01{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	padding-top:205px;
	padding-left: 135px;
	padding-bottom: 10px;
	z-index: 1;
	letter-spacing: 5px;
}

.tx_lato_black_35_blanco_form_01{
	font-family: 'Lato-Black', sans-serif;
  font-size:35pt;
  color:white;
	padding-left: 135px;
	padding-bottom: 15px;
	z-index: 1;
	letter-spacing: 5px;
}

.tx_lato_regular_21_blanco_form_02{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	line-height: 30pt;
	z-index: 1;
	letter-spacing: 5px;
	padding-top: 30px;
}

.tx_lato_regular_21_blanco_form_03{
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:white;
	padding-bottom: 20px;
	line-height: 30pt;
	z-index: 1;
	letter-spacing: 5px;
}

.tx_lato_black_21_blanco_form_01{
	font-family: 'Lato-Black', sans-serif;
  font-size:21pt;
  color:white;
}

.index-graph-02{
	padding-top:30px;
	padding-bottom:20px;
	z-index: 1000;
}

.tx_lato_regular_21_blanco_form_04{
	background: linear-gradient(90deg, #FFE0B2 0%, #FFD3A6 100%);
	width: 45%;
	font-family: 'Lato-Regular', sans-serif;
  font-size:21pt;
  color:rgba(0,0,0,.6);
	line-height: 30pt;
	z-index: 1;
	letter-spacing: 5px;
	text-align: center;
	border-radius: 10px;
	padding: 3px 70px 6px 70px;
	margin-bottom: 33px;
}
@media screen and (max-width: 1509px) {
	.tx_lato_regular_21_blanco_form_04{
		width: 75%;
	}
}
@media screen and (max-width: 991px) {
	.tx_lato_regular_21_blanco_form_04{
		width: 90%;
	}
}
/*FORMULARIO DE CONTACTO*/
.form-control{
	color:black;
	text-align: center;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15pt;
	height: 40px;
	border: none;
	border-radius: 0px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	margin-top: 7px;
}
.form-control::-webkit-input-placeholder {
  color: rgba(0,0,0,.6);
	font-family: 'Lato-Italic', sans-serif;
	font-size: 15pt;
	letter-spacing: 3px;
}

.form-group{
	margin-bottom:20px;
	margin-right: 20px;
}

.formulario-home{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.seccion_formulario_xs_02{
	background: white;
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
	padding: 0px 0px 15px 0px;
	z-index: 10;
}

button.btn.btn-warning.btn-lg{
	background: transparent;
	background-position: center;
	border-radius: 0px;
	border:none;
	color:#001F32;
	font-size: 15pt;
	padding:0px 0px 0px 0px;
	opacity: 1;
}
@media screen and (max-width: 991px) {
	button.btn.btn-warning.btn-lg{
		position: absolute;
		top:20px;
		left:88%;
	}
}


.list-unstyled {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 11pt;
	background: white;
	border-radius: 3px;
	text-align: center;
}

#msgSubmit_condiciones_web_01{
  font-family: 'Lato-Regular', sans-serif;
  font-size: 11pt;
}
#msgSubmit_web_01{
  font-family: 'Lato-Regular', sans-serif;
  font-size: 13pt;
	background: white;
	border-radius: 3px;
	text-align: center;
	position: absolute;
	top:8px;
	left:80px;
	padding: 2px 15px 2px 15px;
}
@media screen and (max-width: 991px) {
	#msgSubmit_web_01{
		top:80px;
		left:385px;
		padding: 2px 15px 2px 15px;
	}
}

/*Maquetacion XS*/
.sin-padding{
	padding-left: 0px;
	padding-right: 0px;
}
@media screen and (max-width: 767px) {
	.iv_alianza_web{
		position:absolute;
		top:25px;
		right:15px;
		height: 60px;
	}
}

.tx_lato_regular_21_blanco_01_xs{
	font-family: 'Lato-Regular', sans-serif;
  font-size:10pt;
  color:white;
	padding-top:150px;
	padding-bottom: 5px;
	z-index: 1;
	letter-spacing: 2px;
}

.tx_lato_black_35_blanco_01_xs{
	font-family: 'Lato-Black', sans-serif;
  font-size:13pt;
  color:white;
	padding-bottom: 10px;
	z-index: 1;
	letter-spacing: 2px;
}

.tx_lato_regular_21_blanco_02_xs{
	font-family: 'Lato-Regular', sans-serif;
  font-size:10pt;
  color:white;
	line-height: 13pt;
	z-index: 1;
	letter-spacing: 2px;
}

.index-graph-xs-01{
	padding-top:5px;
	padding-bottom:5px;
	z-index: 1000;
}

.tx_lato_regular_21_blanco_03_xs{
	font-family: 'Lato-Regular', sans-serif;
  font-size:10pt;
  color:white;
	padding-bottom: 25px;
	line-height: 13pt;
	z-index: 1;
	letter-spacing: 2px;
}

.padding-img-01-xs{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10px;
}

.padding-img-02-xs{
	padding-left: 10%;
	padding-right: 10%;
}

/*Envio de formulario XS*/
.cara-triste{
	position: absolute;
	top:205px;
}
@media screen and (max-width: 767px) {
	.cara-triste{
		position: absolute;
		top:150px;
		height:60px;
		left:50px;
	}
}

@media screen and (max-width: 767px) {
	.tx_lato_regular_21_blanco_form_01{
		font-family: 'Lato-Regular', sans-serif;
	  font-size:10pt;
	  color:white;
		padding-left: 0px;
		padding-top:235px;
		padding-bottom: 5px;
		z-index: 1;
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 767px) {
	.tx_lato_black_35_blanco_form_01{
		font-family: 'Lato-Black', sans-serif;
	  font-size:13pt;
	  color:white;
		padding-left: 0px;
		padding-bottom: 15px;
		z-index: 1;
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 767px) {
	.tx_lato_regular_21_blanco_form_02{
		font-family: 'Lato-Regular', sans-serif;
	  font-size:10pt;
	  color:white;
		line-height: 13pt;
		z-index: 1;
		letter-spacing: 2px;
		padding-top: 0px;
	}
}

@media screen and (max-width: 767px) {
	.tx_lato_black_21_blanco_form_01{
		font-family: 'Lato-Regular', sans-serif;
	  font-size:10pt;
	  color:white;
	}
}

@media screen and (max-width: 767px) {
	.tx_lato_regular_21_blanco_form_03{
		font-family: 'Lato-Regular', sans-serif;
	  font-size:10pt;
	  color:white;
		padding-bottom: 5px;
		line-height: 13pt;
		z-index: 1;
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 767px) {
	.index-graph-02-xs{
		padding-top:20px;
		padding-bottom:20px;
		padding-left:10px;
		padding-right:10px;
		z-index: 1000;
	}
}


@media screen and (max-width: 767px) {
	.tx_lato_regular_21_blanco_form_04{
		width: 75%;
	  font-size:10pt;
		line-height: 13pt;
		letter-spacing: 2px;
		border-radius: 5px;
		padding: 1px 3px 2px 3px;
		margin-bottom: 30px;
	}
}

/*FORMULARIO DE CONTACTO*/
@media screen and (max-width: 767px) {
	.form-control{
		color:black;
		text-align: center;
		font-family: 'Lato-Regular', sans-serif;
		font-size: 10pt;
		height: 30px;
		border: none;
		border-radius: 0px;
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	}
}


@media screen and (max-width: 767px) {
	.form-control::-webkit-input-placeholder {
	  color: rgba(0,0,0,.6);
		font-family: 'Lato-Italic', sans-serif;
		font-size: 10pt;
		letter-spacing: 3px;
	}
}


@media screen and (max-width: 767px) {
	.form-group{
		margin-bottom:20px;
		margin-right: 30px;
		margin-left: 30px;
	}
}


@media screen and (max-width: 767px) {
	.formulario-home{
		padding: 0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
	}
}

@media screen and (max-width: 767px) {
	.seccion_formulario_xs_02{
		background: white;
		box-shadow: 0px 0px 20px rgba(0,0,0,.3);
		padding: 0px 0px 15px 0px;
		z-index: 10;
	}
}

.btn_xs_style{
	position: absolute;
	border:none;
	background: transparent;
	top:15px;
	right: 0px;
}

@media screen and (max-width: 767px) {
	.list-unstyled {
	  font-family: 'Lato-Regular', sans-serif;
	  font-size: 11pt;
		background: white;
		border-radius: 3px;
		text-align: center;
	}
}


@media screen and (max-width: 767px) {
	#msgSubmit_condiciones_web_01{
	  font-family: 'Lato-Regular', sans-serif;
	  font-size: 11pt;
	}
}


@media screen and (max-width: 767px) {
	#msgSubmit_web_01{
		margin-top:80px;
		position: static;
		float: right;
		margin-right:-30px;
		padding: 2px 15px 2px 15px;
	}
}
